PREFIX=null
AUTO_REACTION=on
AUTO_VIEW_STATUS=off
AUTO_SAVE_STATUS=off
AUTO_READ_MESSAGES=off
PM_PERMIT=off
BOT_MENU_LINKS=https://telegra.ph/file/0b918caf8e6440bc67fd5.jpg 
BOT_MODE=private
DATABASE_URL=postgresql://wowtech_user:dc1MDiAkS8ic14BeNGDAAwOVYD13C6py@dpg-cqpbsf5svqrc73foqba0-a.oregon-postgres.render.com/wowtech
OWNER_NAME=wow 
OWNER_NUMBER=2348038296739
WARN_COUNT=3
STARTING_MESSAGE=on
PRESENCE=
CHAT_BOT=off
SESSION_ID='' 
